
Options +FollowSymlinks
RewriteEngine On 

RewriteBase /Learchsys/Learchsys-web


RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?ruta=$1 [L] 

# supress php errors
php_flag display_startup_errors on
php_flag display_errors off
php_flag html_errors off

